**/*.git
**/.DS_Store
**/.sass-cache/
**/composer.lock
**/node_modules/
**/package-lock.json
**/secrets.json
**/wp-config.php
**/*.ai
**/*.br
**/*.gz
**/*.psd
**/*.sketch
/bbg-common/lib/vendor/
/build/bob
/build/lib/vendor/
